.listStyle {
    display: block;
    margin: 0;
}

.pokedex-grid {
    display: grid;
    grid-gap: 15px;
    padding: 20px;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: 0 auto;
}

.pokedex-grid .box {
    min-height: 400px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.info-display-div {
    display: inline-flex;
    width: 300px;
    max-width: 90%;
    justify-content: center;
}

.mobile-back-link i {
    color: #1e90ff;
}

#backArrow a i {
    color: #000000;
}

.darkmode #backArrow a i {
    color: #ffffff;
}

.stacked {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

label {
    display: inline-flex;
    width: 0;
    text-align: center;
    justify-content: center;
    padding-top: 1.2em;
}
